body {
  background-image: url("../img/No1.jpg") no-repeat center center fixed;
  background-size: cover;
}

nav {
  text-decoration: none;
  color: #36454f;
  font-family: 'cardo', serif;
  font-size: 1.5rem;
  padding-left: 650px;
  padding-top: 5px;
}

hlink a:link {
  text-decoration: none;
  color: #36454f;
  font-family: 'cardo', serif;
  font-size: 1.5rem;
  padding-left: 650px;
  padding-top: 5px;
}
hlink a:visited {
  text-decoration: none;
  color: #36454f;
  font-family: 'cardo', serif;
  font-size: 1.5rem;
  padding-left: 650px;
  padding-top: 5px;
}
hlink a:hover {
  text-decoration: none;
  color: #E6DEDC;
  font-family: 'cardo', serif;
  font-size: 1.5rem;
  padding-left: 650px;
  padding-top: 5px;
}

h1 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 6.5rem;
  padding-left: 650px;
  padding-top: 335px;
}

h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding-left: 680px;
  padding-top: 5px;
}

quote a:link {
  text-decoration: none;
  color: #E6DEDC;
  font-family: 'cardo', serif;
  font-size: 1rem;
  padding-left: 300px;
  padding-top: 20px;
  line-height: 1.3rem;
}
quote a:visited {
  text-decoration: none;
  color: #E6DEDC;
  font-family: 'cardo', serif;
  font-size: 1rem;
  padding-left: 300px;
  padding-top: 20px;
  line-height: 1.3rem;
}
quote a:hover {
  color: #36454f;
  font-family: 'cardo', serif;
  font-size: 1rem;
  padding-left: 300px;
  padding-top: 20px;
  line-height: 1.3rem;
}

table {
  color: #E6DEDC;
  font-family: 'cardo', serif;
  font-size: 1.2rem;
  float: left;
  width: 1366px;
  margin-top: 200px;
  margin-bottom: 80px;
  line-height: 1.4rem;
  width: 1366px;
}

div > h2 {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 2rem;
  padding-top: 125px;
  padding-bottom: 10px;
  clear: both;
}

main {
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 5px;
}

div > h3 {
  color: black;
  font-family: 'cardo', serif;
  font-size: 1.3rem;
  padding-left: 650px;
  padding-bottom: 20px;
}

p {
  color: black;
  font-family: 'cardo', serif;
  font-size: 1.2rem;
  padding-bottom: 5px;
  line-height: 1.3rem;
}
