
div {
   .img{
      background: url("./img/No1.jpg") no-repeat center center fixed;
      background-size: cover;
   }
}
div{
   .quote{
      font-family: 'cardo', serif;
      font-size: 2rem;
      text-align: center;
   }
}
